spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/WikiChef}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true
    baseline-on-migrate: false

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}

token:
  signing:
    key: ${JWT_SIGNING_KEY}

